[submodule "qt-pods-core"]
	path = qt-pods-core
	url = https://github.com/cybercatalyst/qt-pods-core.git
[submodule "qtwaitingspinner"]
	path = qtwaitingspinner
	url = https://github.com/cybercatalyst/qtwaitingspinner.git
