[submodule "qtwaitingspinner"]
	path = qtwaitingspinner
	url = https://github.com/cybercatalyst/qtwaitingspinner.git
[submodule "qtirc"]
	path = qtirc
	url = https://github.com/cybercatalyst/qtirc.git
[submodule "qt-pods-core"]
	path = qt-pods-core
	url = https://github.com/qt-pods/qt-pods-core.git
